body {
    background-color:#E6F7A9;
      font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 600 ;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    margin: auto;
}

#display {
    flex: 1;
    border-style: solid;
    margin: 3px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #BFF7A9;
}

#title {
    flex: 1;
    display: flex;
    align-items: center;
    border-style: none;
    justify-content: center;
}

#displayContent {
    align-items: end;
    flex: 0;
    font-size: 30px;
    padding: 3px;
}

#calculatorButtons {
    display: flex;
    flex-direction: row;
    flex: 5;
}

.column {
    display: flex;
    flex-direction: column;
}

#column1 {
    flex: 3;
}

#column2 {
    flex: 1;
}

.row {
    display: flex;
    flex: 1;
}

button {
    flex: 1;
    padding: 5px;
    margin: 3px;
    font-size: 30px;
    font-family: inherit;
    background-color:#F7E1A9;
}

#clear {
    flex: 3;
}